<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flip-IL</title>
        <meta property="og:title" content="Flip-IL">
        <meta property="og:description" content="Klarna's internal Engineering and Product conference">
        <meta property="og:url" content="https://thekonferen.se/">
        <meta property="og:image" content="https://thekonferen.se/opengraph.png">
        <link href="https://fonts.googleapis.com/css?family=Bangers|PT+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        <div id="app" />
    </body>
</html>